{
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react$",

    "^next/(.*)$",

    "<THIRD_PARTY_MODULES>",

    "^@/pages/(.*)$",

    "^@/layout$",
    "^@/layout/(.*)$",

    "^@/common$",
    "^@/common/(.*)$",

    "^@/ui$",
    "^@/ui/(.*)$",

    "^@/components/(.*)$",

    "^@/types$",
    "^@/types/(.*)$",

    "^@/constants$",
    "^@/constants/(.*)$",

    "^@/services$",
    "^@/services/(.*)$",

    "^../.*$(?<!\\.scss)$",
    "^./.*$(?<!\\.scss)$",

    "^@/assets/(.*)$",

    "(.scss)$"
  ]
}
