{
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/pages/(.*)$",
    "^@/layout/(.*)$",
    "^@/components/(.*)$",
    "^@/ui/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
