@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@import "react-toastify/dist/ReactToastify.css";

:root {
  --clr-primary-400: "#e30b13";
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  @apply bg-gray-900;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
  @apply cursor-pointer focus:outline-none;
}

input:focus {
  box-shadow: none !important;
}
